name: Windows Build with open source compilers

on: [push, pull_request]

jobs:
  Windows:
    runs-on: windows-latest

    strategy:
      matrix:
        compiler: [clang-cl]
        build_type: [Release, Debug]
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: "Clang-cl: Define compiler version"
      if: matrix.compiler == 'clang-cl'
      run: |
        $env:COMPILER_VERSION = "21"
        Add-Content -Path $env:GITHUB_ENV -Value "COMPILER_VERSION=$env:COMPILER_VERSION"

    - name: "Define package name"
      run: |
        $env:VERSION = if ($env:GITHUB_REF -and $env:GITHUB_REF -match "^refs/tags/(?<tag>.+)$") { $matches["tag"] } else { "dev" }
        $env:PACKAGE_VERSION = "$env:VERSION-${{ matrix.compiler }}-$env:COMPILER_VERSION-x64-${{ matrix.build_type }}"
        Add-Content -Path $env:GITHUB_ENV -Value "PACKAGE_VERSION=$env:PACKAGE_VERSION"

    - name: "Clang-cl: Set up LLVM"
      if: matrix.compiler == 'clang-cl'
      uses: KyleMayes/install-llvm-action@98e68e10c96dffcb7bfed8b2144541a66b49aa02 # v2.0.8
      with:
        version: ${{ env.COMPILER_VERSION }}

    - name: Install Ninja
      run: choco install ninja
    
    - name: Output environment information
      run: |
        cmake --version
        ninja --version
        ${{ matrix.compiler }} --version

    - name: "Configure CMake"
      if: matrix.compiler == 'clang-cl'
      run: | 
        cmake -S . -B build -G "Ninja" -DCMAKE_C_COMPILER=${{ matrix.compiler }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCPACK_PACKAGE_VERSION="$env:PACKAGE_VERSION" -DUSE_STATIC_RUNTIME=ON -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}\install"

    - name: Build with CMake
      run: cmake --build build --config "${{ matrix.build_type }}"

    - name: "CMake Install"
      run: |
        cmake --build build --config "${{ matrix.build_type }}" --target install

    - name: "Run Flex tests"
      run: |
        cmake -S flex/tests -B flex/tests/build -G "Ninja" -DFLEX_EXECUTABLE="${{ github.workspace }}\install\win_flex.exe" -DBISON_EXECUTABLE="${{ github.workspace }}\install\win_bison.exe" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
        cmake --build flex/tests/build --config "${{ matrix.build_type }}"
        if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
        ctest --test-dir flex/tests/build --output-on-failure

    - name: Create package
      run: cmake --build build --target package

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: ${{ env.PACKAGE_VERSION }}
        path: build/win_flex_bison*.zip
